<!DOCTYPE html>
<html>
<head>
  <title>Flash Sale</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"%>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js","https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"%>
  <%= csrf_meta_tags %>
</head>
<body style="background-color: lightblue;">

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="<%= deals_path %>">Flash Sales</a>
    </div>
    <ul class="nav navbar-nav">
      <% if user_signed_in? %>
        <li><a href="<%= deals_path %>">Deals</a></li>
      <% end %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li><a href="<%= deals_path %>">Logged in as : <%= current_user.email%></a></li>
        <li><a data-method="delete" href="<%=destroy_user_session_path%>"><span class="glyphicon glyphicon-user"></span> Sign Out</a></li>
      <% else %>
        <li><a href="<%=new_user_registration_path%>"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="<%=new_user_session_path%>"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <% end %>
    </ul>
  </div>
</nav>

<div class="container rcorners1">
  <div class="col-md-12">
    <% if notice.present? %>
      <p class="alert alert-success"><%= notice %></p>
    <%elsif alert.present?%>
      <p class="alert alert-danger"><%= alert %></p>
    <% end%>
    <%= yield %>
  </div>
</div>

</body>
</html>
